body
{
text-align: center;
font-size: 20px;
font-weight: bold;
overflow-y:hidden;	
background-image: url(admin.jpg);
font-family: 'Lato', sans-serif;
text-shadow: 5px 5px 10px black;	

}
#logo
{
	margin-top: 30px;
	font-size: 60px;
	color: #ffffff;
}
 a
{
	color: white;
	text-decoration: none
}
#panel
{
	margin-top: 50px;
 margin-left: 120px;
}
#panele
{
	margin: auto;
}

#przycisk
{
	height: 450px;
	width: 250px;
	background-color: orange;
	margin: 10px;
	float: left;
	box-shadow: 5px 5px 10px black;


}
#przycisk2
{
	height: 450px;
	width: 250px;
	background-color: orange;
	margin: 10px;
	float: left;
	box-shadow: 5px 5px 10px black;

}
#przycisk3
{
	height: 450px;
	width: 250px;
	background-color: orange;
	margin: 10px;
	float: left;
	box-shadow: 5px 5px 10px black;
}
#przycisk4
{
	height: 450px;
	width: 250px;
	background-color: orange;
	margin: 10px;
	float: left;
	box-shadow: 5px 5px 10px black;
}
