body
{
background-color: #404040;
color: white;
background-image: url(tlo.jpg);
font-family: 'Lato', sans-serif;
text-shadow: 5px 5px 10px black;

}

#panel_glowny
{
width: 1200px;
height: 90%;
background-color: silver;
box-shadow: 5px 5px 10px black;
}

#panel_mieszkanca
{
width: 48%;
height: 100%;
background-color: gray;
float: left;
}
#pasek
{
width: 4%;
height: 100%;
background-color: green;
float: left;
}
#zdjecie
{
width: 250px;
height: 300px;	
box-shadow: 5px 5px 10px black;
margin-top: 8%;
}
#imie_nazwisko
{
font-size: 40px;	
margin-top: 8%;
}
#numer_pokoju
{
font-size: 30px;
width: 100%;
height: 100px;	
float: left;
margin-top: 20px;
