body
{
	color: white;
	text-shadow: 5px 5px 10px black;	
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Lato', sans-serif;
	text-align: center;
	overflow-y:hidden;
	
}
 a
{
	color: white;
	text-decoration: none
}

#witaj
{
	height: 15%;
	margin-top: 8%;
	font-size: 200%;
	
}
/* .tlo_przycisk
{
	opacity: 0.2;
	background-color: #000000;
} */
.przycisk
{
	margin-top: 20%;
	background-color: #228B22;
	height: 70px;
	width: 400px;
	box-shadow: 5px 5px 10px black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;

	

}
.przycisk:hover
{
	background-color: #800000;
}
.video
{
	position: absolute;
	top: 0;
	left: 0;
//	min-height: 100%;
	min-width: 100%;
	z-index:-1;
}
#zegar-data
{
	height: 30%;
	background-color: #000000;
	opacity: 0.8;
	width: 100%;
	font-size: 90px;
	z-index: 1;
	float: left;
	margin-top: 70px;

}
#zagar
{
	/*background-color: white;*/
	height: 75%;
	width: 100%;
}
#data
{
	/*background-color: yellow;*/
	height: 25%;
	width: 100%;
	font-size: 30px;
}