body
{
	overflow-y:hidden;	
	background-image: url(tlo_wyszukaj.png);
}
#strona
{
	 text-align: center;
	 color: #ffffff;
	 font-size: 20px;
	 font-weight: bold;
	 font-family: 'Lato', sans-serif;
	 text-shadow: 5px 5px 10px black;	
}
#gora
{
	height: 50%;
	width: 100%;
	background-color: orange;
}

#dol
{
	height: 50%;
	width: 100%;
	background-color: green;
}

#blok
{
	height: 250px;
	width: 250px;
	background-color: green;
	float: left;
	margin: 30px; 
}

#bloki
{
	height: 300px;
	width: 1000px;
	background-color: yellow;
	float: left;
	margin-left: 17%;
}

#wyszukaj
{
	height: 150px;
	width: 700px;
	background-color: red;
	float: left;
	margin: 30px; 
}
